html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 80px;    /* navbar-height */
  margin-bottom: 110px; /* footer-height + 20px */
}

.container.content {
  padding-bottom: 30px;
}


/* navbar */

body > .navbar {
  font-size: 14px;
  background-color: #fff;
  min-height: 80px; /* navbar-height */
  margin-bottom: 0px;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 2px 5px rgba(0,0,0,.08);
}

body > .navbar .nav > li > a {
  color: #777777;
}

body > .navbar .nav > li.active {
  font-weight: bold;
}

body > .navbar .nav > li.active a,
body > .navbar .nav > li.active a:hover,
body > .navbar .nav > li.active a:focus {
  background: none;
}

body > .navbar .navbar-collapse {
  margin-top: 15px;
}


/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  height: 90px; /* footer-height */

  background-image: url("../img/satinweave.png");
  border-top: 1px solid #e5e5e5;
  color: #777;
}

footer p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

/* Extra small devices and Small devices */
@media (max-width: 768px) {
  footer p {
    font-size: 15px;
    line-height: 1em;
  }
}


/* jumbotron */

.jumbotron {
  background-image: url("../img/satinweave.png");
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 15px 0px 15px;
}

.jumbotron .title {
  font-size: 50px;
  line-height: 60px;
}

.jumbotron .description {
  margin: 40px 0px 10px 0px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 32px;
}

.jumbotron .cover {
  padding: 10px 0px;
}


/* homepage */

.homepage .hero {
  text-align: center;
  padding: 120px 0;
}

.homepage .hero.cover {
  padding: 150px 0;
}

.homepage .hero h1 {
  color: white;
  line-height: 1.5em;
  text-align: center;
  font-size: 35px;
}

.homepage .activity,
.homepage .more-description,
.homepage .join-us
{
  margin-top: 40px;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 30px;
}

.homepage .activity .title {
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

/* Extra small devices and Small devices */
@media (max-width: 768px) {
  .homepage .hero {
    padding: 30px 0;
  }

  .homepage .hero.cover {
    padding: 80px 0;
  }

  .homepage .hero h1 {
    font-size: 25px;
  }
}


/* posts */

.posts-list {
    list-style: none;
    padding-left: 0;
}

.posts-list .post {
  position: relative;

  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: #EBF2F6 1px solid;
}

.posts-list .post .title {
  margin-top: 0;
  margin-bottom: 5px;
}

.posts-list .post .date {
  color: #999;
  font-style: italic;
  margin-bottom: 10px;
}

.posts-list .post .cover img {
  /* center image */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .posts-list .post .cover {
    /* 'table-cell' style */
    width: 200px;
  }
}

.posts-list .post .body {
  padding: 15px 0 0 0;
}

.posts-list .post:last-child {
  border-bottom: none;
}

.posts-list .post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px;
}

@media (min-width: 768px) {
    .posts-list .post .cover,
    .posts-list .post .body
    {
        display: table-cell;
        vertical-align: top;
    }

    .posts-list .post .body {
        padding: 0 15px;
    }
}


/* post */

.post .post-header .meta {
  color: #999;
  font-style: italic;
  margin-bottom: 10px;
}

.post .post-footer {
  margin-top: 10px;
}


/* events */

.events-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

.events-list .event {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  margin: 20px 0px;
}

@media (min-width: 768px) {
  .events-list .event {
    display: block;
    position: relative;
    width: 100%;
    height: 120px;
  }
}

.events-list .event .a {
  display: block;
  text-decoration: none;
}

.events-list .event .a:hover {
  text-decoration: none; /* @todo FIXME !*/
}

.events-list .event time {
  display: inline-block;
  width: 100%;
  padding: 5px;

  color: #fff;
  background-color: #23527C;

  text-align: center;
  text-transform: uppercase;
}

.events-list .event:nth-child(even) time {
  background-color: #00B0EC;
}

.events-list .event time span {
  display: none;
}

.events-list .event time .day {
  display: block;
  line-height: 1;

  font-size: 56pt;
  font-weight: 100;
}

.events-list .event time .month {
  display: block;
  line-height: 1;

  font-size: 24pt;
  font-weight: 900;
}

.events-list .event img {
  width: 100%;
}

.events-list .event .info {
  padding: 20px;
  text-align: center;
}

.events-list .event .info:hover {
  text-decoration: none;
}

.events-list .event .info .title {
  margin: 0px;

  font-size: 17pt;
  font-weight: 700;
}

.events-list .event .info .title, .place, .dates {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events-list .event .info .place, .dates {
  margin: 0px;

  font-size: 13pt;
  font-weight: 300;
}

.events-list .event .info .place {
  color: #333;
}

.events-list .event .info .dates {
  margin-top: 10px;
  font-style: italic;
  color: #999;
}

@media (min-width: 768px) {
  .events-list .event time,
  .events-list .event img
  {
    display: inline-block;
    float: left;

    width: 120px;
    height: 120px;
  }

  .events-list .event img {
    padding: 0px;
    margin: 0px;
  }

  .events-list .event .info {
    position: relative;
    height: 120px;
    overflow: hidden;

    background-color: rgb(245, 245, 245);
    text-align: left;
  }
}


/* event */

.event .event-header .place {
  font-weight: bold;
  font-size: 18px;
}

.event .event-header .dates {
  color: #999;
  font-style: italic;
  margin-bottom: 10px;
}

.event .event-footer {
  margin-top: 10px;
}


/* members */

.members .member {
  text-align: center;
  margin-bottom: 40px;
}

.members .member .fullname {
  font-size: 20px;
  line-height: 25px;
}

.members .member .role {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.members .member .description {
  font-size: 15px;
  font-style: italic;
}


/* contact */

.contact .content {
  padding-top: 30px;
  padding-bottom: 20px;
}

.contact .content .contact i.fa-building-o {
  margin-right: 10px;
}

.contact .content .social i.fa {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .contact .content .contact {
    font-size: 16px;
  }

  .contact .content .social {
    font-size: 24px;
  }
}