html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 80px;    /* navbar-height */
  margin-bottom: 90px; /* footer-height */
}

body > .navbar {
  font-size: 14px;
  background-color: #fff;
  min-height: 80px; /* navbar-height */
  margin-bottom: 0px;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 2px 5px rgba(0,0,0,.08);
}

body > .navbar .nav > li > a {
  color: #777777;
}

body > .navbar .nav > li.active {
  font-weight: bold;
}

body > .navbar .nav > li.active a,
body > .navbar .nav > li.active a:hover,
body > .navbar .nav > li.active a:focus {
  background: none;
}

body > .navbar .navbar-collapse {
  margin-top: 15px;
}

.container.content {
  padding-bottom: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  height: 90px; /* footer-height */

  background-image: url("../img/satinweave.png");
  border-top: 1px solid #e5e5e5;
  color: #777;
}

footer p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

/* jumbotron */

.jumbotron {
  background-image: url("../img/satinweave.png");
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 15px 0px 15px;
}

.jumbotron .title {
  font-size: 50px;
  line-height: 60px;
}

.jumbotron .description {
  margin: 40px 0px 10px 0px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 32px;
}

.jumbotron .cover {
  padding: 10px 0px;
}
