<section class="hero" {{ if .Cover }}style='background: url("{{ .Cover.Large }}"); background-size: cover;'{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>{{ .Node.Tagline }}</h1>
      </div>
    </div>
  </div>
</section>

{{ if .Activities }}
    {{ range .Activities }}
        <section class="activity">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <p class="title">{{ .Title }}</p>
                {{ .Summary }}
              </div>
            </div>
          </div>
        </section>

        {{ if .Cover }}
            <section class="hero cover" style='background: url("{{ .Cover.Large }}") no-repeat center center fixed; background-size: cover;'>
            </section>
        {{ end }}
    {{ end }}
{{ end }}

{{ if .MoreDesc }}
<section class="more-description">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ .MoreDesc }}
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ if .JoinText }}
<section class="join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{ .JoinText }}
            </div>
        </div>
    </div>
</section>
{{ end }}
